.entryFormDiv {
  margin: auto;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  background-color: white;
  margin-top: 50px;
}
label {
  font-weight: bold;
}
input {
  width: 100%;
  border: rgb(200, 200, 210) solid 1.5px;
  margin: 5px 0 15px 0;
}
input:focus {
  outline: rgb(67, 4, 67) solid 1.5px;
  border: white solid 1.5px;
}
button {
  background-color: rgb(67, 4, 67);
  color: white;
  font-size: 15px;
  border: none;
  width: 100px;
  height: 30px;
}
button:hover {
  background-color: rgb(100, 50, 100);
  cursor: pointer;
}
form {
  padding: 10px;
}
